.navbar {

    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    height: 60px;

    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-btn {

    width: 48px;
    height: 40px;

    border: none;

    border-radius: 10px;

    font-size: 20px;

    cursor: pointer;
}